
<%- include("partials/header"); %> 
<h1>Home</h1>
<p><%= homeStartingContent %></p>

    <% blogPosts.forEach(function(blogs) { %>
        
        <h1><%= blogs.title %></h1>
        <p>
            <%= blogs.content.substring(0, 100) + "..." %>
            <a href="/blogPosts/<%= blogs.title %>">Read More</a>
        </p>
        
    <% }); %>



<%- include("partials/footer"); %> 